/*=================================================
  Table of Contents
=================================================

	1. Basic
	2. Helpers Classes
	3. Layouts
	4. Header
		4.1 Navigation
		4.2 Secondary Nav
		4.3 Page Header
	5 Elements
		5.1 Featured Box
		5.2 Team
		5.3 Accordion & Toggle
		5.4 Nav
		5.5 Tabs
		5.6 Hero Background
		5.7 Owl Carousel
		5.8 Brands Grid
		5.9 Portfolio
		5.10 List Style
	6 Footer
		6.1 Social Icons
		6.2 Back to Top
	7 Extra

=======================================================*/

/* =================================== */
/*  1. Basic Style 
/* =================================== */

/* 40 */
body, html {
    height: 100%;
}

/* 50 */
body {
    background: #dddddd;
    color: #4c4d4d;
    font-family: 'Poppins', sans-serif;
}

/* 154 */
::selection {
    background: #20c997;
    color: #fff;
    text-shadow: none;
}

/* =================================== */
/*  2. Helpers Classes
/* =================================== */

/* 562 */
.bg-dark {
    background-color: #111812  !important;
}

/* 570 */
.bg-dark-2 {
  background-color: #343a40 !important;
}

.text-5 {
  font-size: 21px !important;
  font-size: 1.3125rem !important;
}


/* =================================== */
/*  4. Header
/* =================================== */

/* 673 */
#header {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* 678 */
#header .navbar {
    padding: 0px;
}

/* 875 */

.side-header #main-wrapper {
    margin-left: 260px;
}

/* 888 */
.side-header .primary-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
}

img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}